* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(180deg, rgb(114, 114, 114), rgb(34, 34, 34)) fixed;
}



.step {
    margin-top: 15%;
    margin-left: 25%;
    width: 50%;
}

.hr__top {
    text-align: center;
    color: #D3D3D3;
    margin-bottom: 20px;
}

.hr__bottom {
    text-align: center;
    color: #D3D3D3;
    margin-top: 20px;
}

.container {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 0em 1em;
}

.container__row {
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(10em, 0fr));
    margin: 0 0 0 -1px;
}

.text__menu {
    display: grid;
    height: 2em;
    width: 10em;
    align-items: center;
    text-align: center;
    border: 1px solid #D3D3D3;
    cursor: pointer;
}

.text__menu > a {
    color:#D3D3D3;
    cursor: pointer;
    text-decoration: none;
}

.slogan {
    text-align: center;
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.slogan__text {
    text-align: center;
    color: #e1e1e1;
}

.line {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 2em;
}

.h1{
    grid-column-start: 2;
    grid-column-end: 3;
    border-right: 1px solid #D3D3D3;
}

.h2{
    grid-column-start: 3;
    grid-column-end: 4;
    border-left: 1px solid #D3D3D3;
}

/* About */

.block {
    display: grid;
    margin: auto;
    margin-top: 50px;
    background: #000000;
    width: 700px;
    height: 700px;
}

.text__top {
    margin: 50px 20px 20px 20px;
}

.text__top > p {
    color: white;
    letter-spacing: 5px;
    font-weight: bolder;
    font-size: 24px;
}

.text__top > hr {
    color: #D3D3D3;
    width: 100px;
    margin-top: 4px;
}